* {
  margin: 0;
  padding: 0;
  transition: background-color 0.5s ease, color 0.5s ease;
}

li{
  list-style: none;
}

.mybutton {
  all: unset;
}

a{
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
  &:active {
    color: inherit;
  }
}

@font-face {
  font-family: "myfont";
  src: url(../assets/fonts/NotoSans-Regular.ttf);
}

/* For Chrome, Safari, and Opera */
.hide-scrollbar::-webkit-scrollbar {
  width: 0px; 
}

/* For Firefox */
.hide-scrollbar {
  scrollbar-width: none; 
}
